.remove{
    margin-left: 70%;
    padding: 8px;
    border-style: none;
    background-color: white;
    width:15%;
}
 li{
    display: inline-block;
    vertical-align: top;
     border: 2px solid black;
     width: 28%;
     padding: 5px;
     margin: 1.5%;
     list-style-type: none;
}