.remove{
    margin-left: 80%;
    padding: 8px;
    border-style: none;
    background-color: white;
    width:5%;
}
 .cardLi{
     border-radius: 20px;
     display: inline-block;
    vertical-align: top;
     border: 2px solid darkred;
     width: 28%;
     padding: 5px;
     margin: 1.5%;
     list-style-type: none;
}